body{
    padding-top: 20px;
    padding-bottom: 20px;

}
#cellphoneFrame{
    border-radius: 10px;
    position: relative;
    background-color: #4A4464;
    height: 500px;
    width: 300px;
    margin:10px auto;
}

#myCan{
    background-color: #4A4464;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#canvas_container {

    background-color: #4A4464;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;


    border-radius: 50%;
    height: 252px;
    width:252px;

    overflow: hidden;

    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}

#infoFrame{
    border-radius: 10px;
    height: 500px;
    width: 300px;
    background: #5c94cd;
    margin:10px auto;
}

.main_body{

    padding: 30px;
    margin: 2px;
    border-radius: 5px;

}

footer pre{
    color: #00ff5b;
    background-color: #151313;
    border: 1px solid #000000;
}